<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ethan.dev</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <div class="content__padding">
            <h1 id="name">Ethan Steininger</h1>
            <br />
            <!-- ! ABOUT SECTION -->
            <div class="about__section">
                <br />

                <!-- *First paragraph -->
                <p id="first__paragraph">
                    I work at <a href="https://www.mongodb.com/">MongoDB</a> taking our
                    <a href="https://www.mongodb.com/docs/atlas/atlas-search/">Atlas Search</a>
                    product to market. I’m especially interested in the field of information retrieval,
                    working on systems that understand our intentions.
                </p>
                <br />
                <!-- *Second paragraph -->

                <p id="second__paragraph">
                    Connect with me on
                    <a href="https://www.linkedin.com/in/ethansteininger/">LinkedIn</a>,
                    <a href="https://github.com/esteininger">GitHub</a>, or
                    <a href="https://twitter.com/ethansteininger">Twitter</a>.
                </p>
                <br />
            </div>

            <!-- !ESSAY SECTION -->
            <div class="essays__section">
                <h4>Essays</h4>
                <br />
                <ul>
                    <li>
                        <a href="https://esteininger.medium.com/design-thinking-for-product-launches-minimal-viable-discovery-8105c831273a">Design Thinking for Product Launches</a>
                    </li>
                    <li>
                        <a href="https://esteininger.medium.com/bringing-the-lightbulb-to-market-sprints-and-recovery-in-life-and-business-57fdb2370da9">Bringing the Lightbulb to Market</a>
                    </li>
                    <li>
                        <a href="https://esteininger.medium.com/let-your-role-models-guide-you-and-your-curiosity-drive-you-8042ff226b31">Role Models and Curiosity</a>
                    </li>
                    <li>
                        <a href="https://esteininger.medium.com/preparation-enables-surrender-a26e47fab858">Preparation Enables Surrender</a>
                    </li>
                </ul>
            </div>

            <!-- ! MORE ABOUT ME SECTION -->
            <div class="more--about__section">
                <br />
                <h4>More about me</h4>
                <br />

                <!-- *First paragraph -->
                <p id="first__paragraph">
                    Growing up I always took things apart (to my parents' dismay) just to
                    understand how they worked. In undergrad I studied computer science,
                    robotics, and epidemiology eventually majoring in public health. My first job was
                    a software engineer but desiring more influence into our roadmap I became
                    a product manager. Still longing to code, I discovered sales engineering as the perfect
                    blend of customer discovery and software engineering which I currently strive to perfect.
                </p>

                <!-- *Second paragraph -->
                <!-- <br />
                <p id="second__paragraph">
                    Lorem ipsum
                </p>
                <br /> -->
            </div>

            <!-- ! OTHER STUFF SECTION -->
            <div class="other--stuff__section">
                <br />
                <h4>Projects</h4>
                <br />
                <ul>
                    <li>
                        <p>
                            <a href="#">VectorSearch.dev</a> - Learning vector search publicly
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">VanLifeCoder.com</a> - Learning vector search publicly
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Meports.com</a> - Learning vector search publicly
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Nutripeek.com</a> - Learning vector search publicly
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
